<a href="https://colab.research.google.com/github/meghav-sh04/megha13/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data={
    'first name':['Aryan','Rohan','Riya','Yash','siddini'],
    'last name':['Singh','Agarwal','Shah','Bhatia','khanna'],
    'type':['full-time','internship','full-time','part-time','full-time employee'],
    'department':['Administration','Technical','Administration','Technical','Technical'],
    'yoe':[2,3,5,7,6],
    'salary':[20000,5000,10000,10000,20000]
}
df=pd.DataFrame(data)
print(df)
table=pd.pivot_table(df,index=['type','department'],values='salary',aggfunc='mean')
print(table)
pivot=pd.pivot_table(df,index='type',values='salary',aggfunc=['mean','sum'])
print(pivot)
pivot_count=df.pivot_table(index='type',values='salary',aggfunc='count')
print(pivot_count)
pivot_std=df.pivot_table(index='type',values='salary',aggfunc='std')
print(pivot_std)

  first name last name                type      department  yoe  salary
0      Aryan     Singh           full-time  Administration    2   20000
1      Rohan   Agarwal          internship       Technical    3    5000
2       Riya      Shah           full-time  Administration    5   10000
3       Yash    Bhatia           part-time       Technical    7   10000
4    siddini    khanna  full-time employee       Technical    6   20000
                                    salary
type               department
full-time          Administration  15000.0
full-time employee Technical       20000.0
internship         Technical        5000.0
part-time          Technical       10000.0
                       mean    sum
                     salary salary
type
full-time           15000.0  30000
full-time employee  20000.0  20000
internship           5000.0   5000
part-time           10000.0  10000
                    salary
type
full-time                2
full-time employee       1
internship               1
part-time                1
                salary
type
full-time  7071.067812